body {
	background-color: #eeeeee;
}
p {
	margin: 0px;
	display: inline-block;
	vertical-align: middle;
}
textarea {
	vertical-align: middle;
}
div {
	display: inline-block;
}
pre {
	margin: 2px;
}
canvas {
	border: 1px dotted black;
}

div.container {
	margin: 1px;
}
textarea.mathInput {
	height: 18px;
	width: 200px;
	resize: horizontal;
}
div.valid {
	height: 18px;
	width: 50px;
	background-color: #ff0000;
	vertical-align: middle;
	margin: 2px 8px;
	text-align: center;
}

div#plotButton {
	background-color: #ff9999;
	text-align: center;
	padding: 10px;
}
div#returnToCenter {
	background-color: #ff9999;
	text-align: center;
	padding: 10px;
}